@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  margin: 1rem;
}

.sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.brand {
  font-size: 2.5rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 11px;
  font-size: 14px;
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
}

.nav-item {
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}